* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
.title p {
  color: #7e7d7d;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.title h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
.button .btn-style {
  background-color: #009f4d;
  opacity: 0.9;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.5s;
}
.button .btn-style:hover {
  color: white;
  background-color: #008030;
  border-color: #00732c;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  /* background-color: red; */
  z-index: 1;
  border-bottom: rgba(255, 255, 255, 0.648);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
/* .navbar{
    
} */
.navbar h1 {
  clear: both;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.navbar .navbar-brand span {
  display: block;
  font-size: 14px;
  line-height: 16.8px;
  padding-left: 40px;
}
.navbar .navbar-nav .nav-link {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

/* dropdownmenu */
.navbar .navbar-nav .dropdown-menu {
  padding: 16px 0;
}
.navbar .navbar-nav .dropdown-menu li {
  margin: 5px 0;
}
.navbar .navbar-nav .dropdown-item {
  color: #3f3a64;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.navbar .navbar-collapse .navbar-nav {
  text-align: center;
}
.navbar .navbar-collapse .navbar-nav .dropdown-menu {
  text-align: center;
}
/* search */
.navbar .searchButton .searchItem {
  margin-right: 20px;
}
.navbar .searchButton .searchIcon {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
}

/* Banner */
.banner {
  background-image: url(./../img/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
  position: relative;
  z-index: -1;
}
.banner::before {
  content: "";
  background-color: rgba(29, 42, 55, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.banner .banner_content {
  position: relative;
  z-index: 2;
}
.banner .banner_content h2 {
  font-size: 50px;
}
.banner .banner_content p {
  font-size: 20px;
  opacity: 0.7;
}
/* Company */
.company .company_img {
  position: relative;
  z-index: 1;
}
.company .company_img img {
  /* height: 80%;
  width: 80%; */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.4);
}
.company .company_img .bg-shape {
  border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
  width: 500px;
  height: 500px;
  background-color: #009f4d;
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.4;
}
.company .company_img .company_info {
  background-color: #009f4d;
  color: white;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 35px;
  position: absolute;
  bottom: 15px;
  right: 85px;
  border-radius: 8px;
  min-width: 200px;
  min-height: 200px;
  transform: rotate(45deg);
}
.company .info_bg {
  transform: rotate(-45deg);
}
.company .info_bg h3 {
  font-size: 40px;
  font-weight: 600;
  list-style: 40px;
}
.company .info_bg p {
  font-size: 24px;
  line-height: 24px;
  /* text-align: left; */
}
.company .company_content {
  align-self: center;
}
.company .item_content h3 {
  line-height: 1.2;
  font-weight: 400;
  font-size: 1.5rem;
}
.company .item_content p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
  margin-bottom: 0;
}
.company .button .video-play-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  font-size: 22px;
  padding-left: 5px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: #009f4d;
  border: 3px solid #009f4d;
}
#small-dialog,
#small-dialog1 {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

div#small-dialog iframe,
div#small-dialog1 iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.company .card_content {
  display: grid;
  padding: 50px 35px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  background-color: #f8f9fa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  grid-auto-flow: column;
  gap: 20px;
}
.company .card_content i {
  /* display: inline-block !important; */
  font-size: 38px;
  width: 40px;
  color: #009f4d;
}
.company .card_content p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}

/* WEB */
.web {
  background-color: #f8f9fa;
}
.web .item_bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.web .web_item span {
  color: #009f4d;
  font-size: 35px;
  margin-bottom: 15px;
  display: inline-block;
}
.web .web_item h4 {
  font-size: 22px;
  line-height: 28px;
  color: #3f3a64;
  font-weight: 600;
}
.web .web_item p {
  font-size: 17px;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
}
.web .img img {
  border-radius: 8px;
}
/* Business */
.business {
  background-image: url(./../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
}
.business::before {
  content: "";
  background-color: rgba(29, 42, 55, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.business .item_text {
  max-width: 700px;
}
.business .title h2 {
  color: white;
}
.business .item_text p {
  color: white;
}
.business .video-play-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  font-size: 22px;
  padding-left: 5px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  /* animation: ripple 1s linear infinite; */
  color: white;
  border: 3px solid white;
}

/* PROFESSIONALS */
/* .professionals .item {
  position: relative;
} */
.professionals .item_img{
  position: relative;
}
.professionals .item img {
  /* width: 100%; */
  border-radius: 8px;
}
.professionals .overlay {
  position: absolute;
  top: 0;
  /* left: 0; */
  background-color: rgba(20, 20, 20, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.professionals .item_img:hover .overlay{
  opacity: 1;
}
.professionals .overlay_content{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  transition: all .2s;
}
.professionals .item_img:hover .overlay_content{
  opacity: 1;
  /* position: absolute; */
  bottom: 20%;
  /* margin-top: -100px; */
  /* transform: translateY(-55%); */
}
.professionals .overlay .icon_social a{
  text-decoration: none;
  display: inline-block;
  width: 37px;
  height: 37px;
}
.professionals .overlay .icon_social i{
  color: white;
}
.professionals h6.team_title {
  font-weight: 600;
  font-size: 20px;
  transition: all .2s;
}
.professionals h6.team_title:hover{
  color: #009f4d;
  cursor: pointer;
}

/* Choose */
.choose{
  background-color: #f7f7f7;
}
.choose .title{
  max-width: 800px;
  margin: auto;
}
.choose .choose_icon .icon_bg{
  /* padding: 30px; */
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  color: #009f4d;
  border: 1px solid #009f4d;
  border-radius: 8px;
}
.choose .choose_text h3{
  margin: 0 0 12px 0;
  color: #3f3a64;
  font-size: 24px;
  font-weight: 600;
  transition: all .4s;
}
.choose .choose_text h3:hover{
  color: #009f4d;
  cursor: pointer;
}
.choose .choose_text p{
  margin: 0;
  padding: 0;
}

/* Project */
.project .title{
  max-width: 700px;
}
.project .title p{
  font-size: 17px;
  line-height: 27px;
  opacity: .9;
  font-weight: 400;
}







/* ---------Responsive ------------*/
@media (max-width: 1200px) {
  .company .company_img .bg-shape {
    width: 450px;
    height: 450px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 1080px) {
  .title h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .web .item_bg {
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .banner .banner_content h2 {
    font-size: 40px;
  }
  .web .item_bg {
    gap: 30px;
  }
}
@media (max-width: 760px) {
  .business .business_content {
    padding: 0 15px;
  }
}
@media (max-width: 576px) {
  .banner .banner_content h2 {
    font-size: 35px;
  }
  .banner .banner_content p {
    font-size: 18px;
  }
  .title h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .web .img img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .company .company_img .bg-shape {
    width: 440px;
    height: 440px;
  }
  .company .company_img .company_info {
    padding: 30px;
    min-width: 150px;
    min-height: 150px;
  }
  .web .item_bg {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 415px) {
  .company .company_img .bg-shape {
    width: 380px;
    height: 380px;
  }
  .company .company_img .company_info {
    padding: 20px;
    min-width: 100px;
    min-height: 100px;
    /* right: 45px; */
  }
  .title h2 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width: 384px) {
  .banner .banner_content h2 {
    font-size: 30px;
  }
  .company .company_img .bg-shape {
    width: 350px;
    height: 350px;
  }
  .title h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px !important;
  }
}
